
.menuColor{
  background-color: #F7F9FB !important;
}

.padded{
  padding-top: 5px;
  padding-bottom: 5px;
}


.centeredText{
  text-align: center;
  marginBottom : 0;
}

.covidStyling{
  background-color: #B23850 !important;
  color: white !important;
}


.populationStyling{
  background-color: #3B8BEB !important;
  color: white !important;
}

/* style={{marginTop: '0px' , backgroundColor: 'red'}} */


.incomeStyling{
  background-color: #687864 !important;
  color: white !important;
}
