
#body{
  background-color: #f2f7fa;
  color: #505050;
  /* font-family: "Pt Sans"; */
  font-family: 'Karla', sans-serif;
}




.outline{
 margin: 20px 20px 40px 40px !important;
}



@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .outline{
     margin: 2px 2px 4px 4px !important;
  }
}
